/*

    SITE COLOR PALETTE: 
    --independence: #555b6eff;
    --morning-blue: #89b0aeff;
    --powder-blue: #bee3dbff;
    --cultured: #faf9f9ff;
    --apricot: #ffd6baff;

    FONTS: 
    * Headings: Cabin Condensed
    * Text: Varela Round

*/

/* WHOLE SITE */
body {
    color: #555B6EFF;
    background-color: #BEE3DB;
    margin: 0;
}

/* NAV BAR */
nav {
    background-color: #FAF9F9;
    height: 50px;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    justify-content: baseline;

    list-style: none;
}

.navItem {
    margin: 10px;
    width: 100px;
}

.navItem a {
    color: #555B6EFF;
    font-family: Josefin Slab;
    font-size: 24px;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
}

.navItem a:hover {
    font-style: italic;
    text-shadow: 2px 2px #89b0aeff;
}

/* HOME PAGE */
.cover {
    background-image: url("assets/2020-09-15\ 22:35:43.165.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#myName {
    font-family: Sacramento;
}

#description {
    color: #555B6EFF;
    font-family: Josefin Slab;
}

/* RESUME */

/* PROJECTS */

/* CONTACT */
.socials img {
    width: 50px;
}