/*

    SITE COLOR PALETTE: 
    --mardi-gras: #881688ff;
    --amber-sae-ece: #ff8420ff;
    --medium-violet-red: #d6058aff;
    --russian-violet: #20114aff;
    --seashell: #faf1eaff;

    FONTS: 
    * Headings: Cabin Condensed
    * Text: Varela Round

*/

/* WHOLE SITE */
body {
    color: #092842ff;
    background-image: url("assets/retro-pattern-4518357_1280.png");
    margin: 0;
    margin-top: 30px;
}

.pageHeadings {
    font-family: Sacramento;
    font-size: 100px;
    line-height: 0.25em;
    text-shadow: 2px 2px #faf1eaff;
    text-align: center;
    padding-top: 0.25em;
}

/* NAV BAR */
nav {
    background-color: #faf1eaff;
    height: 50px;
    position: fixed; /* Set the navbar to fixed position */
    top: 10px;
    width: 100%; /* Full width */
}

.navBar {
    display: flex;
    justify-content: flex-end;
    justify-content: baseline;

    list-style: none;
}

.navItem {
    margin: 10px;
    width: 100px;
}

.navItem a {
    color: #092842ff;
    font-family: Josefin Slab;
    font-size: 24px;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
}

.navItem a:hover {
    font-style: italic;
    text-shadow: 2px 2px #881688ff;
}

/* HOME PAGE */

.cover {
    
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome {
    font-family: Sacramento;
    font-size: 240px;
    line-height: 0.25em;
    text-shadow: 2px 2px #faf1eaff;
    text-align: center;
}

#myName {
    font-family: Sacramento;
    
}

#description {
    color: #092842ff;
    font-family: Josefin Slab;
}

/* RESUME */
.resumeHead {
    font-family: Josefin Slab;
    font-size: 40px;
    line-height: 0.25em;
    text-shadow: 2px 2px #faf1eaff;
    text-align: center;
}

.purple {
    background-color: rgba(210, 168, 210, 0.75);
    color: black;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding: 0.5em;
}

.purple:hover {
    background-color: rgb(210, 168, 210);
}

.pink {
    background-color: rgba(240, 161, 211, 0.75);
    color: black;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding: 0.5em;
}

.pink:hover {
    background-color: rgb(240, 161, 211);
}

.orange {
    background-color: rgba(255, 209, 171, 0.75);
    color: black;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding: 0.5em;
}

.orange:hover {
    background-color: rgb(255, 209, 171);
}

/* PROJECTS */

/* CONTACT */
.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.socials img {
    width: 50px;
}



